<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>movie</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <style>

    </style>
</head>
<body>
        <div class="body_content">
        <div class="header"  >
            {% block header %}
             <form action="/movie_result/search_subjects/"  method="get">
                <div class="form_box">
                    <div class="title_input"><input type="text" name="title" placeholder="请输入关键字" autocomplete="off"></div>
                    <div class="submit_input"><input type="submit" value="搜索"></div>
                </div>
            </form>
            <div class="user">
                <div id="user_message">
                {% if request.session.user_id %}
                     <span>Hi,&nbsp;{{ request.session.user_name }}</span>&nbsp;&nbsp;
                    {% if  not request.session.has_confirm %}
                        <span>您的邮箱未确认,请及时去注册邮箱确认</span>
<!--        <a href="{% url 'user:confirm' %}">去确定</a>-->
                    {% endif %}
                    <a href="{% url 'user:logout' %}">注销</a>
                {% else %}
                    <a href="{% url 'user:login' %}">登录</a>&nbsp;&nbsp;
                    <a href="{% url 'user:register' %}">注册</a>
                {% endif %}
                </div>
                </div>
            {% endblock %}
        </div>
        <div class="content">
            <div class="root">
        {% block content %}
        {% endblock %}
        </div>
        </div>
        </div>

</body>
</html>