{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/home.css' %}">
<div class="">
    <div class="float_clear">
    <div class="user">
    {% if request.session.user_id %}
    <span>Hi,&nbsp;{{ request.session.user_name }}</span>&nbsp;&nbsp;
        {% if  not request.session.has_confirm %}
            <span>您的邮箱未确定,去注册邮箱确认</span>
<!--        <a href="{% url 'user:confirm' %}">去确定</a>-->
        {% endif %}
        <p><a href="{% url 'user:logout' %}">注销</a></p>
    {% else %}
    <a href="{% url 'user:login' %}">登录</a>&nbsp;&nbsp;
    <a href="{% url 'user:register' %}">注册</a>
        {% endif %}
</div>
</div>
    <h1><a href="{% url 'movie:top250' %}">豆瓣电影TOP250</a></h1>
    <form action="{% url 'movie:search' %}"  method="post">
        {% csrf_token %}
        <div>输入要搜索的关键字<input type="text" name="title" placeholder="关键字"></div>
        <div>输入要搜索的电影数量<input type="text" name="num" placeholder="数量"></div>
        <input type="submit" value="搜索">
    </form>
    </h1>
</div>
{% endblock %}